.platform {
    background-image: url(../../assets/Vector\ 1578.png);
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
}

.platform-image{
    background-image: url(../../assets/Rectangle\ 4372.png);
    width: 70%;
    height: 400px;
    background-repeat: no-repeat;
}